<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUp" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="userName"
          />
          <span
            class="help-block"
            *ngIf="
              !signUp.get('userName')!.valid && signUp.get('userName')!.touched
            "
            >Enter Valid UserName !!
          </span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
          />
        </div>
        <span
          class="help-block"
          *ngIf="!signUp.get('email')!.valid && signUp.get('email')!.touched"
          >Enter Valid Email !!
        </span>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" [value]="gender" formControlName="gender" />
            {{ gender }}
          </label>
        </div>
        <span class="help-block" *ngIf="!signUp.valid && signUp.touched"
          >Enter Valid Form !!
        </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
