<!-- <div class="container w-75 py-5">
  <h4 class="my-5">Customer Profile</h4>
  <div class="row">
    <div class="col">
      <div class="row">
        <label for="" class="col-4">Name :</label>
        <h6 class="col-8">{{ customer.fname }}</h6>
      </div>
      <div class="row">
        <label for="" class="col-4">Phone no. :</label>
        <h6 class="col-8">{{ customer.phoneNo }}</h6>
      </div>
      <div class="row">
        <label for="" class="col-4">Email :</label>
        <h6 class="col-8">{{ customer.lname }}</h6>
      </div>
      <div class="row">
        <label for="" class="col-4">Address :</label>
        <h6 class="col-8">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, facere.
        </h6>
      </div>
    </div>
    <div class="col-3">
      <div class="profile-pic"></div>
    </div>
  </div>
</div> -->
