<div class="container w-75">
  <h4 class="my-3">Customer's List</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone#</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customer; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ customer.fname }}</td>
        <td>{{ customer.phoneNo }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="onClickView(i)">
            view
          </button>

          <button
            type="button"
            class="btn btn-danger btn-sm mx-3"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Delete
          </button>
        </td>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">Please Confirm</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                  (click)="onDeleteList(i)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
